div.container {
    display:flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}
div.box1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
div.box2 {
    display: flex;
    width: 40%;
    margin: 20px;
}
img {
    width: 100%;
    margin: 5px;
}
.box{
    display: flex;
}
h4{
    margin: 0;
    margin-left: 25px;
}
img.foto1 {
    filter: grayscale(100%);
}
img.foto2 {
    filter: sepia(100%) ;
}
img.foto3 {
    filter: opacity(50%) ;
}
img.foto4 {
    filter: saturate(300%) ;
}
img.foto5 {
    filter: contrast(200%) ;
}
img.foto6 {
    filter: invert(100%) ;
}