p.t1 {
    text-shadow:7px 13px grey;
}
p.t2 {
    text-shadow:7px 13px 2px grey;
}
p.t3 {
    text-shadow:7px 13px 2px red,-7px -13px 2px blue;
    
}
p.t4 {
    color: rgba(0,0,0,0.6);
    text-shadow: 0px 0px 1px rgba(153, 148, 100, 0.884);
    

}
p.t5 {
    text-shadow: 
    1px 1px 1px silver,
    -1px 1px 1px silver;
  color: white;
  
}
p.t6 {
    text-shadow:0.5px 0.5px 0 black,-0.5px -0.5px 0 black;
    color: rgb(129, 131, 15);
  
}
